@import 'globals';
@import 'variables';

.grid{
  display: flex;
  width: fit-content;
  flex-direction: column;
  border: 1px thin black;
}
.row{
  display: flex;
}
.box{
  width: 30px;
  aspect-ratio: 1;
  border: 1px thin black;
  transition: 0.4s;
}

.box:hover{
  background-color: yellowgreen;
  transform: scale(1.1);
  outline 1px solid;
}