body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header button {
  padding: 5px;
  background-color: khaki;
  color: black;
  font: inherit;
  margin-left: 30px;
  width: 100px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box {
  width: 30px;
  aspect-ratio: 1;
  border: 0 solid black;
  border-width: 0.1px;
  -webkit-transition: 1s;
  transition: 1s;
}

.box:hover {
  background-color: yellowgreen;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.highlight {
  background-color: lightblue;
  border: 1px solid white;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: bounce 2s linear;
          animation: bounce 2s linear;
}

.active {
  background-color: yellow;
  -webkit-animation: bouncier 2s linear;
          animation: bouncier 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    border-radius: 50%;
    background-color: darkblue;
  }
  50% {
    border-radius: 0;
    background-color: cyan;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    background-color: rosybrown;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    border-radius: 50%;
    background-color: darkblue;
  }
  50% {
    border-radius: 0;
    background-color: cyan;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    background-color: rosybrown;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bouncier {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    border-radius: 50%;
    background-color: darkred;
  }
  50% {
    border-radius: 0;
    background-color: red;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    background-color: lightgreen;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bouncier {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    border-radius: 50%;
    background-color: darkred;
  }
  50% {
    border-radius: 0;
    background-color: red;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    background-color: lightgreen;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.start {
  background-color: yellow;
  -webkit-animation: none;
          animation: none;
}

.pathNode {
  background-color: red;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-animation: opacity 0.5s;
          animation: opacity 0.5s;
}

@-webkit-keyframes opactiy {
  to {
    opacity: 1;
  }
}

@keyframes opactiy {
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=App.css.map */