@import 'globals';
@import 'variables';

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header{ 
  display: flex;
  align-items: center;
  width: 100%;
  button{
    padding: 5px;
    background-color: khaki;
    color: black;
    font: inherit;
    margin-left: 30px;
    width: 100px;
  }
}
.grid{
  display: flex;
  width: fit-content;
  flex-direction: column;
  border: 1px solid black;
}
.row{
  display: flex;
}
.box{
  width: 30px;
  aspect-ratio: 1;
  border: 0 solid black;
  border-width: 0.1px;
  transition: 1s;
}

.box:hover{
  background-color: yellowgreen;
  transform: scale(1.1);
}

.highlight{ 
  background-color: blue;
  border: 1px solid white;
  animation: opacity 1s;

}

@keyframes opacity {
  to { 
    opacity: 1;
  }
}