@import "globals";
@import "variables";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  button {
    padding: 5px;
    background-color: khaki;
    color: black;
    font: inherit;
    margin-left: 30px;
    width: 100px;
  }
}

.startEnd {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  label {
    gap: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    input {
      width: 50px;
    }
  }

  .nodeInput {
    background-color: yellow;
    width: fit-content;
    padding: 0.7rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 200ms;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.nodeInput:nth-child(2) {
  background-color: rebeccapurple;
  color: white;
}
.grid {
  display: flex;
  width: fit-content;
  flex-direction: column;
  border: 1px solid black;
}
.row {
  display: flex;
}
.box {
  width: 30px;
  aspect-ratio: 1;
  border: 0 solid black;
  border-width: 0.1px;
  transition: 1s;
}

.box:hover {
  background-color: yellowgreen;
  transform: scale(1.1);
}

.highlight {
  background-color: lightblue;
  border: 1px solid white;
  animation-fill-mode: forwards;
  animation: bounce 2s linear;
}

.active {
  background-color: yellow;
  animation: bouncier 2s linear;
  animation-fill-mode: forwards;
}

@keyframes bounce {
  0% {
    transform: scale(0.5);
    border-radius: 50%;
    background-color: darkblue;
  }
  50% {
    border-radius: 0;
    background-color: cyan;
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    background-color: rosybrown;
    transform: scale(1);
  }
}

@keyframes bouncier {
  0% {
    transform: scale(0.5);
    border-radius: 50%;
    background-color: darkred;
  }
  50% {
    border-radius: 0;
    background-color: red;
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    background-color: lightgreen;
    transform: scale(1);
  }
}

.start {
  background-color: yellow;
  animation: none;
}

.pathNode {
  background-color: red;
  transition: 0.4s ease-in-out;
  animation: opacity 0.5s;
}

@keyframes opactiy {
  to {
    opacity: 1;
  }
}
